*{

}
body{
    height: 100vh;
    background-color: black;
    margin: 0;
    padding: 0;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mission-background{
    height: 700px;
}
.tea-logonav{
    height: 69px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.tea-logo{
    height: 50px;
}